<footer class="bg-white shadow-md mt-10 relative">
    <div class="absolute z-[0] w-3/5 h-[150px] rounded-br-full"
        style="background: linear-gradient(90deg, #FFFFFF 0%, #FF0000 100%);"></div>
    <div class="mx-auto flex flex-col md:flex-row justify-between items-start">
        <div class="w-5/6 z-[4] mr-[450px] p-4 rounded-br-full"
            style="background: linear-gradient(90deg, #994E4E -219.25%, #FF8181 100%);">
            <img src="/assets/images/logo.svg" alt="Logo" class="mb-4 bg-white p-4 rounded-l-full rounded-r-full">
            <p class="text-black text-sm w-2/3">
                The platform advocates fairness, justice, and openness. We mainly operate fair lottery, blockchain
                games, live casinos, and slot machine games.
                91club works with more than 10,000 online live game dealers and slot games, all of which are verified
                fair games.
                91club supports fast deposit and withdrawal, and looks forward to your visit.
                Gambling can be addictive, please play rationally. Gambling can be addictive, please play rationally.
            </p>
        </div>
        <div class="md:w-1/4 p-4">
            <h3 class="text-lg font-semibold text-red-500">Pages</h3>
            <ul class="text-gray-600 text-sm mt-2">
                <li><a href="#">Home</a></li>
                <li><a href="#">Brands</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="md:w-1/4 p-4">
            <h3 class="text-lg font-semibold text-red-500">CONTACT US</h3>
            <ul class="text-gray-600 text-sm mt-2">
                <li><a href="#">Location</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Testimonial</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="border-t mt-6 py-4 flex flex-col md:flex-row items-center px-4 justify-between items-center text-gray-500 text-sm">
        <div class="flex gap-x-4 items-center">
            <div class="flex space-x-4">
                <a href="#" class="bg-[#f00] h-[35px] w-[35px] rounded-full flex justify-center items-center"><img
                        src="/assets/icons/facebook.svg" class="h-[20px] w-[20px]" alt=""></a>
                <a href="#" class="bg-[#f00] h-[35px] w-[35px] rounded-full flex justify-center items-center"><img
                        src="/assets/icons/instagram.svg" class="h-[20px] w-[20px]" alt=""></a>
                <a href="#" class="bg-[#f00] h-[35px] w-[35px] rounded-full flex justify-center items-center"><img
                        src="/assets/icons/x.svg" class="h-[20px] w-[20px]" alt=""></a>
                <a href="#" class="bg-[#f00] h-[35px] w-[35px] rounded-full flex justify-center items-center"><img
                        src="/assets/icons/youtube.svg" class="h-[20px] w-[20px]" alt=""></a>
            </div>
            <p>&copy; 2025 All rights reserved by AK247PRO Company.</p>
        </div>
        <div class="flex space-x-4">
            <a href="#" class="text-[#888888]">Privacy Policy</a>
            <a href="#" class="text-[#888888]">Terms & Conditions</a>
            <a href="#" class="text-[#888888]">Help & Support</a>
        </div>
    </div>
</footer>