<div class="wallet-balance max-w-[1280px] mx-auto lg:px-8 flex items-center justify-between">
    <div class="left flex capitalize gap-x-4">
        <div class="icon">
            <img src="/assets/images/dashboard/coins.png" alt="">
        </div>
        <div class="text">
            <div>wallet balance</div>
            <div class="flex font-bold gap-x-2">₹500.00
                <img src="/assets/images/dashboard/refresh.png" alt="">
            </div>
        </div>
    </div>
    <div class="right flex gap-x-2">
        <button class="bg-secondary px-4 py-2 text-white flex rounded-md gap-x-2 font-[500]">
            <img src="/assets/icons/two-arrow.svg" alt="">
            Withdraw
        </button>
        <button class="bg-danger px-4 py-2 text-white flex rounded-md gap-x-2 font-[500]">
            <img src="/assets/icons/two-arrow.svg" alt="">
            Deposit
        </button>
    </div>
</div>