<div class="wallet-balance  mx-auto lg:px-8 px-2 flex items-center justify-between">
    <div class="left flex capitalize gap-x-4">
        <div class="icon">
            <img src="/assets/images/dashboard/coins.png" alt="">
        </div>
        <div class="text">
            <div class="md:text-[16px] text-[12px]">wallet balance</div>
            <div class="flex font-bold gap-x-2 md:text-[16px] text-[12px] items-center">₹500.00
                <img src="/assets/images/dashboard/refresh.png" class="w-[12px] h-[12px]" alt="">
            </div>
        </div>
    </div>
    <div class="right flex gap-x-2">
        <button class="bg-secondary md:px-4 md:py-2 px-2 py-1 text-white flex rounded-md gap-x-2 font-[500] md:text-[16px] text-[12px]">
            <img src="/assets/icons/two-arrow.svg" class="md:w-[16px] w-[12px]" alt="">
            Withdraw
        </button>
        <button class="bg-danger md:px-4 md:py-2 px-2 py-1 text-white flex rounded-md gap-x-2 font-[500] md:text-[16px] text-[12px]">
            <img src="/assets/icons/two-arrow.svg" class="md:w-[16px] w-[12px]" alt="">
            Deposit
        </button>
    </div>
</div>