<div class="top-bar md:bg-white bg-secondary border-b-1 flex items-center md:p-[16px] p-[8px] justify-between" >
    <div class="left">
        <div class="search flex items-center">
            <div class="md:flex hidden gap-x-4">
                <label for="search" class="icon">
                    <img src="/assets/icons/search.svg" alt="">
                </label>
                <input id="search" type="text" class="focus:outline-none">
            </div>
            <img src="/assets/images/logo.svg" class="w-[120px] px-4 py-2 rounded-full bg-white md:hidden block" alt="">
        </div>
    </div>
    <div class="right flex items-center md:gap-x-4 gap-x-2">
        <div class="user flex items-center md:gap-x-4 gap-x-2">
            <div class="name text-white md:text-[16px] text-[12px] md:text-black font-[500]">
                Deepak S.
            </div>
            <div class="avatar">
                <img src="/assets/images/dashboard/avatar.png" alt="">
            </div>
        </div>
        <div class="notification">
            <div class="icon">
                <app-responsive-svg mobile="notification-white.svg"  desktop="notification-black.svg" alt=""/>
            </div>
        </div>
        <div class="wallet relative">
            <div class="icon">
                <app-responsive-svg mobile="wallet-white.svg"  desktop="wallet.svg" alt=""/>
            </div>
            <div class="wallet-drop-down absolute right-0 w-[280px] top-[100%] pt-2 bg-white">
                <div class="time p-4" style="background: linear-gradient(180deg, #20A2A0 0%, #0C3C3B 100%);">
                    <h4 class="text-white text-[30px] font-bold">20:03</h4>
                    <p class="text-white text-[16px] font-[500]">Tuesday, April 1st 2025</p>
                </div> 
                <ul class="px-5">
                    <li class="font-[500] flex justify-between py-4 border-b-1 border-secondary">
                        <span class="">Normal Balance</span>
                        <span>500</span>
                    </li>
                    <li class="font-[500] flex justify-between py-4 border-b-1 border-secondary">
                        <span class="">Lien Balance</span>
                        <span>0.00</span>
                    </li>
                    <li class="font-[500] flex justify-between py-4 border-b-1 border-secondary">
                        <span class="">SMS Balance</span>
                        <span>0.00</span>
                    </li>
                    <li class="font-[500] flex justify-between py-4 border-b-1 border-secondary">
                        <span class="">Aeps Balance</span>
                        <span>0.65</span>
                    </li>
                </ul>
                <div class="logo mt-4">
                    <img src="/assets/images/logo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>