<div class="top-bar border-b-1 flex items-center p-[16px] justify-between" >
    <div class="left">
        <div class="search flex gap-x-4 items-center">
            <label for="search" class="icon">
                <img src="/assets/icons/search.svg" alt="">
            </label>
            <input id="search" type="text" class="focus:outline-none">
        </div>
    </div>
    <div class="right flex items-center gap-x-4">
        <div class="user flex items-center gap-x-4">
            <div class="name font-[500]">
                Deepak Sharma
            </div>
            <div class="avatar">
                <img src="/assets/images/dashboard/avatar.png" alt="">
            </div>
        </div>
        <div class="notification">
            <div class="icon">
                <img src="/assets/icons/notification.svg" alt="">
            </div>
        </div>
        <div class="wallet">
            <div class="icon">
                <img src="/assets/icons/wallet.svg" alt="">
            </div>
        </div>
    </div>
</div>