<div class="top-bar border-b-1 flex items-center p-[16px] justify-between" >
    <div class="left">
        <div class="search flex gap-x-4 items-center">
            <label for="search" class="icon">
                <img src="/assets/icons/search.svg" alt="">
            </label>
            <input id="search" type="text" class="focus:outline-none">
        </div>
    </div>
    <div class="right flex items-center gap-x-4">
        <div class="user flex items-center gap-x-4">
            <div class="name font-[500]">
                Deepak Sharma
            </div>
            <div class="avatar">
                <img src="/assets/images/dashboard/avatar.png" alt="">
            </div>
        </div>
        <div class="notification">
            <div class="icon">
                <img src="/assets/icons/notification.svg" alt="">
            </div>
        </div>
        <div class="wallet relative">
            <div class="icon">
                <img src="/assets/icons/wallet.svg" alt="">
            </div>
            <div class="wallet-drop-down absolute right-0 w-[280px] top-[100%] pt-2 bg-white">
                <div class="time p-4" style="background: linear-gradient(180deg, #20A2A0 0%, #0C3C3B 100%);">
                    <h4 class="text-white text-[30px] font-bold">20:03</h4>
                    <p class="text-white text-[16px] font-[500]">Tuesday, April 1st 2025</p>
                </div> 
                <ul class="px-5">
                    <li class="font-[500] flex justify-between py-4 border-b-1 border-secondary">
                        <span class="">Normal Balance</span>
                        <span>500</span>
                    </li>
                    <li class="font-[500] flex justify-between py-4 border-b-1 border-secondary">
                        <span class="">Lien Balance</span>
                        <span>0.00</span>
                    </li>
                    <li class="font-[500] flex justify-between py-4 border-b-1 border-secondary">
                        <span class="">SMS Balance</span>
                        <span>0.00</span>
                    </li>
                    <li class="font-[500] flex justify-between py-4 border-b-1 border-secondary">
                        <span class="">Aeps Balance</span>
                        <span>0.65</span>
                    </li>
                </ul>
                <div class="logo mt-4">
                    <img src="/assets/images/logo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>