@import "tailwindcss";

@theme {
  --breakpoint-md: 48.0625rem;
  --breakpoint-xsm: 26.563rem;

  //colors
  --color-secondary: #20A2A0;
  --color-secondary-20: #20A2A033;
  --color-danger: #FF0000;
}

//main container
.dashboard-body {
  min-height: 100vh;
  gap: 0 20px;
  background: var(--color-secondary);
  padding: 18px;
  display: flex;

}

.main {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.categories {
  .slider {
    gap: 0 22px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .item {
      min-width: calc(20% - 18px);
      max-width: calc(20% - 18px);
      scroll-snap-align: center;
    }

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  .dot {
    display: none;
  }
}

.top-bar {
  .wallet {
    .wallet-drop-down {
      display: none;
    }

    &:hover {
      .wallet-drop-down {
        display: block;
      }
    }
  }
}


//profile page
.profile {
  .tabs {
    .tab {
      &.active {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          height: 4px;
          translate: 0 -50%;
          top: 100%;
          width: 100%;
          background-color: var(--color-secondary);
        }
      }
    }
  }

  #personal {
    table {
      td {
        padding: 20px;
      }
    }
  }
}

@media (max-width:786px) {
  .dashboard-body {
    gap: 0;
    padding: 0;

    .main {
      border-radius: 0;
    }
  }

  .categories {
    .slider {
      gap: 0 8px;
      overflow-y: hidden;

      .item {
        min-width: 32%;
        position: relative;
        img{
          border-radius: 10px;
        }
        .active {
          scale: 1.2;
        }
        &:has(.active){
          z-index: 9;
        }
      }
    }

    .dot {
      display: block;
    }
  }

  .home{
    .categories {
      .slider {
        .item {
          &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            content: '';
            background: #fff8;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .profile {
    .tabs {
      .tab {
        &.active {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            height: 4px;
            translate: 0 -50%;
            top: 100%;
            width: 100%;
            background-color: var(--color-secondary);
          }
        }
      }
    }

    #personal {
      table {
        td {
          padding: 10px;
        }
      }
    }
  }
}