<div class="dashboard-body">
    <app-sidebar></app-sidebar>
    <div class="main">
        <app-top-bar />
        <div class="banner flex justify-center max-w-[1280px] mx-auto lg:px-8 px-2">
            <img src="/assets/images/dashboard/banner.png" class="w-full" alt="">
        </div>
        <app-wallet-summery />
        <div class="category-item max-w-[1280px] mx-auto lg:px-8 py-6  px-2">
            <div class="title flex gap-x-4 ">
                <div class="left">
                    <img src="/assets/images/home/icons/lottery.png" alt="">
                </div>
                <div class="right">
                    <h4 class="font-bold text-[22px]">LOTTERY</h4>
                    <p class="text-[#6E6E6E] md:text-[16px] text-[12px]">All game are independently developed by our
                        team, fun, fair, and safe</p>
                </div>
            </div>
            <div class="grid md:grid-cols-4 grid-cols-2 gap-2 mt-8 md:gap-x-4">
                <div class="item">
                    <img src="/assets/images/home/lottery-1.png" class="w-full" alt="">
                </div>
                <div class="item">
                    <img src="/assets/images/home/lottery-2.png" class="w-full" alt="">
                </div>
                <div class="item">
                    <img src="/assets/images/home/lottery-3.png" class="w-full" alt="">
                </div>
                <div class="item">
                    <img src="/assets/images/home/lottery-4.png" class="w-full" alt="">
                </div>
            </div>
        </div>
        <div *ngFor="let category of categories;let iItem = index" class="categories">
            <div class="category-item max-w-[1280px] mx-auto lg:px-8 py-6 px-2" [id]="'category-'+iItem">
                <div
                    class="title bg-[url(/assets/images/home/pastel.png)] bg-contain bg-no-repeat flex gap-x-4 items-center">
                    <div class="left">
                        <img [src]="category.icon">
                    </div>
                    <div class="right">
                        <h4 class="font-bold text-[22px]">{{category.title}}</h4>
                    </div>
                </div>
                <div (scroll)="handleScroll($event, iItem)" [id]="'slider-'+iItem" style="scroll-behavior: smooth;"
                    class="slider flex mt-8 gap-x-2">
                    <div *ngFor="let game of category.games" class="item">
                        <img [src]="game" class="w-full" alt="">
                    </div>
                </div>
                <div class="flex justify-center mt-4 gap-x-2">
                    <div *ngFor="let _ of getDots(category.games.length); let iDot = index">
                        <div (click)="navigate(iItem,iDot)" [id]="'dot-'+iDot"
                            [style.backgroundColor]="iDot === 0 ? 'var(--color-secondary)' : '#d2d2d2'"
                            class="dot h-4 w-4 rounded-full" class="dot rounded-full h-4 w-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>